<%= link_to "Books Index", books_path%><br>
<%= link_to "Authors Index", authors_path%>

<h1>New Author</h1>

<%= form_for @author do |f| %>

  <p>
    <%= f.label "Name" %>
    <%= f.text_field :name %>
  </p>
  <p>
  <%=f.label "Birth Year"%>
  <%=f.text_field :birth_year%>
  </p>

  <%= f.submit "Create Author" %>
<% end %>
